aside a {
  text-decoration: none;
  color: #f5f5f5;
}

.graditext {
  background: -webkit-linear-gradient(#ffcf4a, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.styled-a {
  text-decoration: underline;
  color: #2b2bde;
}

aside {
  background: black;
  font-weight: bold;
  padding: 1rem;
  width: 21%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }

  .main {
    flex-direction: column;
  }

  .page-structure {
    width: 100%;
  }

  h3 {
    display: inline-block;
    width: 33%;
  }

  aside {
    width: 100%;
    display: flex;
    padding: 0 1rem;
  }
}
